<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login Page from longin ejs</h1>
    <p>Welcome to <%= title %></p>
    <table>
    <tbody>
    <tr>
      <td>

        <p><h3>Login</h3></p>
        <form action="/login" method="POST">
          <p><input type="text" name="username" placeholder="Username"></p>
          <p><input type="password" name="password" placeholder="Password"></p>
          
          <p><input type="submit" value="Login"></p>
        </form>
        
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>

        <p><h3>Sign UP</h3></p>
        <form action="/signup" method="POST">
          <p><input type="text" name="username" placeholder="Username"></p>
          <p><input type="text" name="firstname" placeholder="First Name"></p>
          <p><input type="text" name="lastname" placeholder="Last Name"></p>
          <p><input type="email" name="email" placeholder="Email Address"></p>
          <p><input type="password" name="password" placeholder="Password"></p>
          
          <p><input type="submit" value="Sign Up"></p>
        </td>
      </form>
    </tr>
    </tbody>
  </table>
  </body>
</html>